<div class="row"> 
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
      Search: <input ng-model="search.name" ng-change="searchUpdate()">
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div ng-hide="show == '_'" class="col-sm-8 pull-right">
    <buyer-contact ng-repeat="contact in contactList | filter:show ">
    </buyer-contact>
  </div>

  <div class="{{btstyle.big}}">
    <div class="{{btstyle.small}}" ng-repeat="letter in letters">
      <div class="panel panel-default">
        <div class="panel-heading"> {{letter}}
        </div>
        <div class="list-group">
          <a href=""
              class="list-group-item"
              ng-repeat="contact in nameList | filter:{ngr: letter} "
              ng-click="showUpdate( contact._id )"
          >{{contact.name}}</a>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row"> 
  <div class="col-sm-12">
  </div>
</div>

<!-- | filter:search -->