<div class="row" ng-show="contentExist">
  <div class="marketing">

    <h3 class="center">Profile of {{currentUser.name}}</h3>

    <div class="input-group">
      <span class="input-group-addon">First name</span>
      <input ng-show="edit" type="text" class="form-control" ng-model="newdata.firstName">
      <span ng-hide="edit" type="text" class="form-control">{{userdata.firstName}}</span>
    </div>    

    <div class="input-group">
      <span class="input-group-addon">Last name</span>
      <input ng-show="edit" type="text" class="form-control" ng-model="newdata.lastName">
      <span ng-hide="edit" type="text" class="form-control">{{userdata.lastName}}</span>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Telephone</span>
      <span ng-hide="edit" type="text" class="form-control">{{phoneToText(userdata.tel)}}</span>
      <input ng-show="edit" type="text" class="form-control" ng-model="teltext" ng-change="checkphone()">
    </div>

    <div class="input-group" ng-hide="edit">
      <span class="input-group-addon">Work&nbsp;hour</span>
      <span type="text" class="form-control" ng-repeat="(key, value) in userdata.workingHours">
        {{key}}:&nbsp;{{value.open}}&nbsp;-&nbsp;{{value.close}}
      </span>
    </div>  
    
    <div class="input-group" ng-show="edit">
      <span class="input-group-addon">Password&nbsp;</span>
      <input type="password" class="form-control" ng-model="newdata.password" ng-focus="error=false">
    </div>

    <div ng-show="error" class="errorbox">
      <span class="center list-group-item list-group-item-danger">
        The password field is requred. Fill it and try again.
      </span>
    </div>

    <div class="center">

      <button ng-hide="edit" ng-click="doEdit()" type="button" class="btn btn-warning">
        <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;&nbsp;Edit&nbsp;
      </button>

      <button ng-show="edit" ng-click="doSave()" type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;Save&nbsp;
      </button>

      <button ng-show="edit" ng-click="doCancel()" type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;&nbsp;Cancel&nbsp;
      </button>

    </div>
  </div>

  <h5 class="center"><a href="" ng-click="showJsonData=!showJsonData">
    <span ng-hide="showJsonData">Show</span>
    <span ng-show="showJsonData">Hide</span>
    all json responce data
  </a></h5>

  <div class="well" ng-show="showJsonData">
    <table class="table">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in userdata" >
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>
       </tbody>
    </table>
  </div>

</div>
     